<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="app.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>A Twig packager, with Bootstrap 3</h1>
  <h5>Seems like everything works fine, finally, we're able to create a cool website!</h5>

  <div>
  {{ block("content") }}
  </div>

  <p>Crafted by nicerazer @2020</p>
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="app.min.js"></script>
</body>
</html>